/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

@font-face {
	font-family: "innocent-Bold";
	src: url("/fonts/innocent-Bold.woff2") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "innocent-Light";
	src: url("/fonts/innocent-Light.woff2") format("opentype");
	font-weight: normal;
	font-style: normal;
}

header {
	background-color: pink;
}







img {
	display: flex;
	justify-content: center;
	max-width: 60vw;
}

h1 {
	display: flex;
	justify-content: center;
	font-family: "innocent-Bold", sans-serif;
	font-weight: bolder;
	font-size: 2em;
}

h3 {
	display: flex;
	justify-content: center;
	font-family: "innocent-Bold", sans-serif;
	font-weight: bolder;
	font-size: 2em;
}

h2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "innocent-Bold", sans-serif;
	color: white;
	font-weight: bolder;
	font-size: 3em;
}

p {
	font-family: "innocent-Light", sans-serif;
	color: white;
	font-weight: bolder;
}


.meer-drankjes {
	display: flex;	
}
.meer-drankjes img {
	max-width: 50vw;
}

.background1 {
	background-color: #f5d981;
}

.background2 {
	background-color: #ebb8cc;
}

.background3 {
	background-color: #295640;
}

.background4 {
	background-color: #a03271;
}

header {
	background-color: pink;
}

body {
	margin: 0%;
}


header p {
	display: flex;
	align-items: center;
	margin-left: 2em;
	margin-right: 2em;
	text-align: center;
}
 
section:nth-of-type(1) {
	background-color: #902d39;
}

section:nth-of-type(1) h1 {
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	font-family: "innocent-Bold", sans-serif;
	font-weight: bolder;
	font-size: 1.8em;
}

section:nth-of-type(1) img {
	display: flex;
	align-items: start;
	margin-left: 2em;
	width: 5em;
}

button:nth-of-type(1) {
	display: flex;
	justify-self: center;
	border-radius: 2em;
	border: none;
	font-family: "innocent-Bold", sans-serif;
}

button:nth-of-type(2) {
	display: flex;
	justify-self: center;
	border-radius: 2em;
}

section:nth-of-type(2) {
	background-color: #fbfdfe;
    margin: 0.5em;
    border-radius: 1em
}

section:nth-of-type(2) h2 {
	color: #e03e52;
	font-size: 1.5em;
	display: flex;
	align-items: center;
}

section:nth-of-type(2) button {
	border: none;
	cursor: pointer;
	appearance: none;
	background-color: inherit;
}

section:nth-of-type(3) {
	background-color: #419471;
	margin: 0.5em;
	border-radius: 1em;

}

section:nth-of-type(3) h2 {
	color: #FFFFFF;
	font-size: 1.5em;
	display: flex;
	align-items: center;
}

section:nth-of-type(3) button {
	border: none;
	cursor: pointer;
	appearance: none;
	background-color: inherit;
}

section:nth-of-type(4) {
	background-color: #419471;
	margin: 0.5em;
	border-radius: 1em;
}

section:nth-of-type(4) h2 {
	color: #000000;
	font-size: 1.5em;
	display: flex;
	align-items: center;
}

section:nth-of-type(4) button {
	border: none;
	cursor: pointer;
	appearance: none;
	background-color: inherit;
}

section:nth-of-type(5) {
	background-color: #419471;
	margin: 0.5em;
	border-radius: 1em;
}

section:nth-of-type(5) h2 {
	color: #000000;
	font-size: 1.5em;
	display: flex;
	align-items: center;
}

section:nth-of-type(5) button {
	border: none;
	cursor: pointer;
	appearance: none;
	background-color: inherit;
}

section:nth-of-type(6) {
	background-color: #ddd;
    padding: 10px;
    margin: 0 auto;
    max-width: 500px;
	max-height: 500px;
}

section:nth-of-type(6) h2 {
	color: #ffffff;
	font-size: 1.5em;
	display: flex;
	align-items: center;
}

section:nth-of-type(6) button {
	border: none;
	cursor: pointer;
	appearance: none;
	background-color: inherit;
	display: block;
	width: 100%;
	margin: 0.5em;
}

li { 
	list-style-image: url(images/download.png); 
}

  